/*
 * Threads view header
 */

#thread-list .thread-list-header {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid lighten($rowBorderColor, 15%);
    h1 {
        margin-bottom: 0;
    }
    .list-name {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    .list-address {
        font-size: 120%;
        padding-bottom: 0.5em;
    }
    .list-stats {
        font-size: 90%;
    }
}


#thread-list .paginator {
    text-align: center;
    form {
        display: inline-block;
        margin: 0 auto;
    }
}



/*
 * Thread summary
 */

#thread-list .thread {
    border: none;
    margin-top: 3em;

    .thread-title {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;

        .category {
            text-align: center;
            margin-right: 1%;
        }
    }

    .thread-date {
        font-style: italic;
        font-size: 70%;
        color: $maroon;
        margin-left: 1em;
    }

    .thread-info {
        padding-top: 0.25em;

        .sender {
            word-wrap: break-word;
            float: left;
        }

        .thread-extras {
            font-size: 90%;
        }

        .thread-category {
            font-size: 110%;
            padding-bottom: 0.25em;
        }

        .likestatus + span {
            padding-right: 1em;
        }
        .likestatus {
            vertical-align: -2px;
        }

        .tags {
            ul {
                display: inline;
                margin: 0 0 0 0.2em;
            }
            li {
                padding: 0;
                margin: 0;
            }
        }
    }

}

// for viewports larger than XS, add more spacing
@media (min-width: $screen-xs-min) {
    #thread-list  {
        .thread-list-info {
            padding-top: 10px;
        }
    }
}
// for extra-small viewports, the like form appears on the right
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    #thread-list .thread-info {
        .likeform {
            float: right;
        }
    }
}
// for small, medium and large viewports, thread stats appears on a single line, so align properly
@media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
    #thread-list .thread-info {
        .list-stats {
            text-align: right;
        }
    }
}



/*
 * Relative placement of the sender gravatar+address and the email excerpt
 */

// Small viewports
#thread-list .thread .thread-info {
    .sender {
        width: 80px;
    }
    .thread-content {
        // sender width + 15px of "row" + some space
        margin-left: 100px;
    }
}

// Large viewports (x > 1200)
@media (min-width: $screen-lg-min) {
    #thread-list .thread .thread-info {
        .sender {
            width: 100px;
        }
        .thread-content {
            // sender width + 15px of "row" + some space
            margin-left: 130px;
        }
    }
}



/*
 * Part containing the body of the mail which can be shown/hidden 
 */

.expander {
    background-image: linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 11%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(236,236,236)),
        color-stop(1, rgb(255,255,255))
    );
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236,236,236);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    display: block;
    vertical-align: top;

    white-space: pre-wrap;
    word-wrap: break-word;
}

.thread-email .expander.collapsed {
    white-space: normal;
}

//=== search result thread list ==/
.search-results {
    .list-name {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    .thread+.thread {
        padding-top: 1.5em;
    }
    .list-stats {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}
